<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold mt-2 pt-1 pb-1 orange">Relatórios</h4>
  </div>

  <!-- Linha Relatório diário -->
  <div class="card-body">
    <div class="row w-100">
      <!-- Area Relatório diário -->
      <div class="row w-100">
        <!-- Pie Chart -->
        <div class="col-xl col-lg w-50">
          <div class="card mb-4">
            <!-- Relatório Anual -->
            <div class="card-header py-3 w-100">
              <h6 class="m-0 font-weight-bold orange">
                Movimentação de produto
              </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="pt-4 pb-2 text-center">
                <google-chart
                  style="width: 600px; height: 300px; padding: auto"
                  [type]="graficoColuna"
                  [data]="dataGraficoColuna"
                  [options]="optionsColuna"
                >
                </google-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-lg w-50">
          <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold orange">Clientes por Região</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex">
              <google-chart
                [type]="chartGraficoData"
                [options]="geoChartsOption"
                [data]="dadosGraficoData"
              ></google-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <!-- Pie Chart -->
        <div class="col-xl col-lg w-50">
          <div class="card mb-4">
            <!-- Relatório Anual -->
            <div class="card-header py-3 w-100">
              <h6 class="m-0 font-weight-bold orange">Ganho por Medicamento</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <google-chart class="darkcolor"
                style="width: 600px; height: 300px; padding: auto"
                (select)="selecionadoPizza($event)"
                [type]="pedidosPorMedicamento"
                [data]="dadosMedicamento"
                [options]="optionsMedicamento"
              ></google-chart>
              <div *ngIf="descPedidosCharts.clicado" class="darkcolor text-center">
                <hr />
                {{ descPedidosCharts.nomeProduto }}<br />
                {{
                  descPedidosCharts.valorTotal
                    | currency : "BRL" : "symbol" : "1.2-2"
                }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-lg w-50">
          <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold orange">
                Quantidade de Produtos em Estoque
              </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <google-chart
              class="darkcolor"
                style="width: 600px; height: 300px; padding: auto"
                (select)="selecionado($event)"
                [options]="optionsProdutos"
                [type]="bar"
                [data]="meusDados"
              ></google-chart>
              <div
                *ngIf="descProdutosCharts.clicado"
                class="text-center darkcolor"
              >
                <hr />
                {{ descProdutosCharts.nomeProduto }}<br />
                Quantidade Vendida: {{ descProdutosCharts.qtdVendida }}<br />
                Quantidade em Estoque: {{ descProdutosCharts.qtdEstoque }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Div Dashboard -->
      <div class="row d-flex w-100">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Total Clientes
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ qtdClientes }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                  >
                    Ganho Total
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ valTotal | currency : "BRL" : "symbol" : "1.2-2" }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                  >
                    Total Produtos
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                        {{ totalProdutos }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-suitcase fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                  >
                    TOTAL PEDIDOS
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ pedidosTotal }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-truck fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
