<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary mt-2 pt-1 pb-1">{{titulo}}</h4>
  </div>

  <form class="ngForm" *ngIf="pedido && cliente" >
    
  <div class="card-body d-flex justify-content-start">

    <div class="pr-2" *ngIf="pedido && pedido.id">
      <label> Id Pedido </label>
      <input disabled [placeholder]="pedido.id" type="text" class="form-control" id="nomeprod" />
    </div>

    <div class="pr-2" >
      <label>CPF</label> 
      <input
        name="cpf"
        type="string"
        class="form-control"
        id="cpf"
        [disabled]="CPFCadastrado"
        placeholder="CPF"
        (change)="searchcpf($event)"
        [(ngModel)]="cliente.cpf"
        maxlength="11"
      />
    </div>
  
    
    <div *ngIf="cliente" class="pr-2">
      <label>NOME</label> 
      <input
        name="nomeCliente"
        type="string"
        class="form-control"
        id="cpf"
        disabled
        [(ngModel)]="cliente.nome"
      />
    </div>

    <div *ngIf="cliente" class="pr-2">
      <label>E-MAIL</label> 
      <input
        name="emailCliente"
        type="string"
        class="form-control"
        id="email"
        disabled
        [(ngModel)]="cliente.email"
      />
    </div>

    <div *ngIf="cliente" class="pr-2">
      <label>CONTATO</label> 
      <input
        name="telefoneCliente"
        type="string"
        class="form-control"
        id="tel"
        disabled
        [(ngModel)]="cliente.telefone"
      />
    </div>

    <div>
      <label>DATA</label> 
      <label class="form-control" *ngIf="pedido.data">
        {{ pedido.data  }}
      </label>
      <ng-template  [ngIf]="!pedido.data">
        <label class="form-control">
          {{ pedidoForm.data | date : "MM/dd/yyyy" }}
        </label>
      </ng-template>
    </div>

  </div>
</form>



<form *ngIf="pedidoProduto && produtos && !CPFCadastrado && CPFValido">  
  
<div class="card-body d-flex border border-2 m-3 pr-1 pl-1 rounded align-items-end">
  <div class="pr-2 w-25">
    <label>EAN</label>
    <input type="Number"class="form-control"id="IdProd"(change)="searchproduct($event)"/>
  </div>
    
    <div class="pr-2 w-50">
      <label>Produto</label>
      <input name="nomeProd" [ngModel]="produto.nome" disabled type="text" class="form-control" id="nomeprod" />
    </div>
    <div class="pr-2 w-75">
      <label>Descrição</label>
      <input disabled type="text"  name="descprod" [ngModel]="produto.desc" class="form-control" id="descprod" />
    </div>
    <div class="pr-2">
      <label>Qtd Estoque</label>
      <input type="number" disabled name="qtdEstoque" [ngModel]="produto.qtdEstoque" class="form-control" id="qtdprod" />
    </div>
    <div class="pr-2">
      <label>Quantidade</label>
      <input type="number" name="qtdProd" [(ngModel)]="pedidoProduto.qtd" class="form-control" id="qtdprod" />
    </div>
    <div class="pr-2">
      <label>Valor</label>
      <input disabled name="valorprod" [ngModel]="produto.valor" type="string" class="form-control" id="valorprod" />
    </div>
    <div class="pr-2">
      <button (click)="adicionarPedidoProduto()" [disabled]="!EANValido" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Adicionar</span>
      </button>
    </div>
  </div>
</form>
  
<form *ngIf="pedidoProduto && produtos && atualiza">  
  <div class="card-body pb-0" >
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>EAN</th> 
            <th>Produto</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody *ngIf="CPFCadastrado; else blocosenao">
          <tr *ngFor="let pedidosProdutos of pedidoProduto">
            <td>{{pedidosProdutos.idProduto}}</td>
            <td>{{produtos[(pedidosProdutos.idProduto)-1].nome}}</td>
            <td>{{produtos[(pedidosProdutos.idProduto)-1].desc}}</td>
            <td>{{pedidosProdutos.qtd}}</td>
            <td>{{pedidosProdutos.valorTotal | currency:'BRL':'symbol':'1.2-2'}}</td>
          </tr>
        </tbody>
        <ng-template #blocosenao>
          <tr *ngFor="let pedidoFake of ListaProdFake">
            <td>{{pedidoFake.idProd}}</td>
            <td>{{pedidoFake.nomeProd}}</td>
            <td>{{pedidoFake.desc}}</td>
            <td>{{pedidoFake.qtd}}</td>
            <td>{{pedidoFake.valTotal | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td class="text-center">
              <button (click)="excluirPedidoProduto(pedidoFake)" class="btn p-0">
              <i class="fas fa-trash text-gray-600" role="button"></i>
              </button>
            </td>
          </tr>
        </ng-template>
   </table>
   

    </div>
  </div>
  </form>


  <div
    class="card-body d-flex border border-2 mr-3 ml-3 mb-2 p-2 rounded justify-content-between align-items-center"
  >
    <div>
      <label class="m-0 p-0 text-gray-800"> Valor total : </label>
      <label class="m-0 p-0 pl-2 text-gray-600" id="retornavalor"
        >{{valorPedidoTotal | currency:'BRL':'symbol':'1.2-2' }}</label
      >
    </div>

    <div>
      <button (click)="salvar()" *ngIf="!CPFCadastrado" [disabled]="!CPFValido || !atualiza || valorPedidoTotal==0" class="btn btn-primary btn-icon-split mr-2">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Finalizar Pedido</span>
      </button>

      <button (click)="cancelar()" class="btn btn-danger btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        <span class="text">Cancelar</span>
      </button>
    </div>
  </div>

