<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold orange mt-2 pt-1 pb-1">{{titulo}}</h4>
  </div>
  <div
    class="card-body d-flex flex-column border border-2 m-3 pb-1 pt-1 pr-1 pl-1 rounded align-items-center"
  >
  <form *ngIf="produto">
    <div class="d-flex pl-2 pr-2">
      <div class="pr-2 w-75">
        <label class="mb-0">Nome</label>
        <input name="nome" id="nome" [(ngModel)]="produto.nome" type="string" class="form-control" />
      </div>
      <div class="pr-2 w-25">
        <label class="mb-0">Valor</label>
        <input name="valor" id="valor" [(ngModel)]="produto.valor" type="number" class="form-control" />
      </div>
    </div>
    <div class="d-flex pl-2 pr-2 mb-2">
      <div class="pr-2 w-75">
        <label class="mb-0">Descrição</label>
        <input name="desc" id="desc" [(ngModel)]="produto.desc" type="string" class="form-control" />
      </div>
      <div class="pr-2 w-25">
        <label class="mb-0">Qtd Estoque</label>
        <input name="qtdEstoque" id="qtd" [(ngModel)]="produto.qtdEstoque" type="number" class="form-control" />
      </div>
    </div>
    <div class="d-flex">
      <button (click)="salvar()" class="btn btn btn-info btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Salvar</span>
      </button>
      <button (click)="cancelar()" class="btn btn-danger btn-icon-split ml-2">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        <span class="text">Cancelar</span>
      </button>
    </div>
  </form>
  </div>
</div>
