<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary mt-2 pt-1 pb-1">Produtos</h4>
  </div>
  <div class="card-body d-flex pb-1 justify-content-between">
    <a routerLink="novo" class="btn btn-success btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Novo produto</span>
    </a>
    <form class="">
      <div class="input-group">
        <input
          type="text"
          class="form-control bg-light border-0 small"
          placeholder="Search for..."
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Quantidade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dipirona</td>
            <td>Dipirona Sódica 500mg c/10</td>
            <td class="text-center">R$ 3,99</td>
            <td class="text-center">11</td>
            <td class="text-center">
              <i class="fas fa-pen text-gray-600"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dipirona</td>
            <td>Dipirona Sódica 500mg c/10</td>
            <td class="text-center">R$ 3,99</td>
            <td class="text-center">11</td>
            <td class="text-center">
              <i class="fas fa-pen text-gray-600"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dipirona</td>
            <td>Dipirona Sódica 500mg c/10</td>
            <td class="text-center">R$ 3,99</td>
            <td class="text-center">11</td>
            <td class="text-center">
              <i class="fas fa-pen text-gray-600"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dipirona</td>
            <td>Dipirona Sódica 500mg c/10</td>
            <td class="text-center">R$ 3,99</td>
            <td class="text-center">11</td>
            <td class="text-center">
              <i class="fas fa-pen text-gray-600"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
