<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold orange mt-2 pt-1 pb-1">Produtos</h4>
  </div>
  <div class="card-body d-flex pb-1 justify-content-between">
    <a routerLink="novo" class="btn btn btn-info btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Novo produto</span>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr class="orange">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.desc }}</td>
            <td class="text-center">
              {{ produto.valor | currency : "BRL" : "symbol" : "1.2-2" }}
            </td>
            <td class="text-center">{{ produto.qtdEstoque }}</td>
            <td class="text-center">
              <button (click)="editarProduto(produto.id)" class="btn p-0">
                <i class="fas fa-pen text-gray-600" role="button"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
